body{
    margin: 0px;
    background-color: gray;

}
#top{
    width: 100%;
    height: 50%;
}
#bottom{
    width: 100%;
    height: 50%;
}
.bimg{
    width: 15%;
    border: 15px solid rgb(78, 78, 78);
    border-radius: 50%;
    max-width: 25%;
    height: auto;
    margin:10em;
}